@import url("gruvbox.css");

@font-face {
  font-family: JetBrainsMono;
  src: url("fonts/JetBrainsMonoNerdFontMono-Medium.ttf");
}

* {
    font-family: "JetBrainsMono";
}

body {
    margin: 0;
    color: var(--white);
    background-color: #1d2021;
}

.page {
    margin: 8px;
    color: var(--white);
}

a {
    color: var(--light-green);
}

button {
    color: var(--black);
    background: var(--white);
    border: none;
    border-radius: 0px;
    margin: 10px 0;
}

h1 {
    font-size: 28px;
}

.header {
  background-color: var(--bg1); /* Background color */
  color: var(--white); /* Text color */
  font-size: 14px;
  height: 15; /* Adjust height as needed */
  padding: 5px 10px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header .item {
  margin-right: 10px; /* Adjust spacing between items */
}

.header .item:last-child {
  margin-right: 0;
}
